pandas==1.2.3
numpy~=1.19.5
tensorflow==2.4.1
scipy~=1.7.3
pyrealsense2==2.42.0.2924
seaborn==0.11.1
tensorboard==2.4.0
matplotlib==3.3.4
Pillow~=9.1.0
pathlib~=1.0.1
openvino~=2021.4.0
scikit-learn~=0.24.1
mediapipe~=0.8.10.1
enum34~=1.1.10
scikit-image~=0.17.2